<?xml version="1.0" encoding="utf-8" ?>
<tables>
  <parent>
    <name>Parent</name>
    <nofields>5</nofields>
    <fields>
      <field>
        <fname>cod_fk1</fname>
        <type>Int</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>cod_fk2</fname>
        <type>Int</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>cod_fk3</fname>
        <type>Int</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>cod_fk4</fname>
        <type>Int</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>nume</fname>
        <type>VarChar</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
      </field>
    </fields>
  </parent>
  <child>
    <name>Child</name>
    <nofields>7</nofields>
    <fields>
      <field>
        <fname>cod_pk1</fname>
        <type>Int</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>field1</fname>
        <type>VarChar</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>field2</fname>
        <type>VarChar</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
      </field>
      <field>
        <fname>cod_fk1</fname>
        <type>Int</type>
        <isPK>false</isPK>
        <idFK>true</idFK>
      </field>
      <field>
        <fname>cod_fk2</fname>
        <type>Int</type>
        <isPK>false</isPK>
        <idFK>true</idFK>
      </field>
      <field>
        <fname>cod_fk3</fname>
        <type>Int</type>
        <isPK>false</isPK>
        <idFK>true</idFK>
      </field>
      <field>
        <fname>cod_fk4</fname>
        <type>Int</type>
        <isPK>false</isPK>
        <idFK>true</idFK>
      </field>
    </fields>
  </child>
</tables>
