body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100vh;
}

header{
  background-color: red;
  border-style: solid;
  border-width: 1px;
  height: 20%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: table;
}

header p{
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}

.nested{
  height: 56%;
}

.nested ul{
  width: 100%;
  height: 10%;
  border-style: solid;
  border-width: 1px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style-position: outside;
  list-style-type:none;
  display: table;
}

.nested ul li{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  padding-left: 1%;
  background-color: yellow;
  border-right-style: solid;
  border-width: 1px;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}

.nested div{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-style: solid;
  border-width: 1px;
  background-color: green;
  height: 90%;
  width: 100%;
  display: table;
}

.nested div p{
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}

footer{
  width: 100%;
  height: 20%;
  border-style: solid;
  border-width: 1px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: pink;
  display: table;
}

footer p{
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}
