
tasks.jdbc.url=jdbc:sqlite:/Users/grigo/didactic/MPP/ExempleCurs/2017/database/tasks.db

mmtasks.jdbc.url=jdbc:sqlite:/Users/grigo/didactic/MPP/databases/Tasks.db

mntasks.jdbc.driver=com.mysql.jdbc.Driver
mntasks.jdbc.url=jdbc:mysql://localhost:3306/mpp
mntasks.jdbc.user=test
mntasks.jdbc.pass=passtest

mtasks.jdbc.driver=org.mariadb.jdbc.Driver
mtasks.jdbc.url=jdbc:mariadb://localhost:3306/mpp
mtasks.jdbc.user=test
mtasks.jdbc.pass=passtest