ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    font-family: helvetica, verdana, arial;
}
ul li {
    position: relative;
    display: block;
    left: 111px;
    margin: 1em 0 3.3em;
    padding: 15px;
    max-width: 33%;
    min-height: 33%;
    text-align: center;
    border: 2px solid #3D444E;
    background: #fff;
    color: #333;
    border-radius: 10px;
}
ul li::before {
    position: absolute;
    top: -20px;
    left: -140px;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
ul li::after {
    position: absolute;
    top: 22px;
    left: -13px;
    width: 30px;
    height: 18px;
    background-color: white;
    box-shadow: -6px 4px 0px black;
    transform: skew(-15deg, -15deg) rotate(45deg);
    content: "";
}
.alice::before {
    background-image: url('https://cdn3.iconfinder.com/data/icons/user-avatars-1/512/users-12-4-128.png');
}
.bob::before {
    background-image: url('https://cdn3.iconfinder.com/data/icons/user-avatars-1/512/users-10-3-128.png');
}

ul li {
    border: 2px solid #3D444E;
}
ul li::after {
    left: -14px;
    box-shadow: -2.5px 1.5px 0px #3D444E;
}
