grant {
    permission java.security.AllPermission;
    permission java.net.SocketPermission "192.168.10.144:1024-", "connect,resolve";
    permission java.net.SocketPermission "127.0.0.1:1024-", "connect,resolve";
};